@font-face {
  font-family: "modern";
  src: url(/img/modern-font/modern.ttf);
}
@font-face {
  font-family: "rooney";
  src: url(/img/rooney-font/rooney.ttf);
}

body {
  padding: 0;
  margin: 0;
  padding-top: 70px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; 
  z-index: 100;
  background-color: rgb(201, 198, 198);
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 15px 5px black;
  box-sizing: border-box;
}

.left-buttons {
  display: flex;
  gap: 5px;
}

.button1 {
  color: white;
  cursor: pointer;
  border-radius: 10px;
  width: 50px;
  padding: 10px;
  margin: 2px;
  background-color: #102837;
  transition: all 0.3s;
  border: none;
  box-shadow: 0px 0px 40px -10px blue;
  
}

.button1:hover {
  transform: scale(1.1);
}
a  {
  text-decoration: none;
  color: white;
}

.button1:active {
  transform: scale(0.9);
}

.btn3 {
  padding: 10px 20px;
  background-color: rgb(5, 6, 45);
  border: none;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0px 0px 20px 1px;
  color: #ffffff;
  font-size: 18px;
  cursor: pointer;
  transition: all 0.3s;
  line-height: normal;
  display: inline-block;
  font-family: 'moern';
}

/* .btn3:hover {
  transform: scale(1.05);
} */

.btn3:active {
  transform: scale(0.9);
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px 100px;
  background-color:  rgb(228, 228, 228);
}

.hero-img {
  position: relative;
  width: 550px;
  height: 520px;
}

.hero-img img {
  /* position: absolute; */
  width: 260px;
  height: 260px;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 0 8px 25px rgba(0,0,0,0.2);
  transition: transform 0.3s ease, z-index 0.3s ease;
}

/* Har bir rasmni turli joyga qo’yamiz */
.hero-img img:nth-child(1) {
  top: 100px;
  left: 40px;
  transform: rotate(-10deg);
  z-index: 1;
}
.hero-img img:nth-child(2) {
  top: 60px;
  left: 180px;
  transform: rotate(5deg);
  z-index: 2;
}
.hero-img img:nth-child(3) {
  top: 180px;
  left: 80px;
  transform: rotate(-6deg);
  z-index: 3;
}

.hero-img img:nth-child(5) {
  top: 120px;
  left: 320px;
  transform: rotate(12deg);
  z-index: 5;
}

/* Hover effekti — tepaga chiqadi */
.hero-img img:hover {
  transform: scale(1.1);
  z-index: 10;
}

.hero-text {
  width: 45%;
}

.hero-text h1 {
  font-size: 40px;
  margin-bottom: 20px;
  font-family: "rooney";
  text-shadow: 2px 2px 2px black;
  font-style: italic;
  letter-spacing: 1px;
  text-decoration: underline 2px solid black;
}

.hero-text p {
  font-size: 28px;
  line-height: 1.6;
  font-family: "rooney";
 
}



