* {
  padding: 0;
  margin: 0;
  font-family: "regular";
}
@font-face {
  font-family: "bold-italic";
  src: url(/fonts/PT_Sans/PTSans-BoldItalic.ttf) ;
}

@font-face {
  font-family: "bold";
  src: url(/fonts/PT_Sans/PTSans-Bold.ttf);
}

@font-face {
  font-family: "italic";
  src: url(/fonts/PT_Sans/PTSans-Italic.ttf);
}

@font-face {
  font-family: "regular";
  src: url(/fonts/PT_Sans/PTSans-Regular.ttf);
}
:root {
  --accent-color: #10b981;
  --accent2-color: #fbbf24;
  --accent3-color: #ef4444;
  --accent4-color: #3b82f6;
  --primary-color: #1e3a8a;
  --dark-text-color: #1f2937;
  --gray-text-color: #6b7280;
  --button-padding-x: 20px;
  --button-padding-y: 10px;
  --font-family-body: Source Sans Pro;
  --light-text-color: #f9fafb;
  --dark-border-color: #4b5563;
  --light-border-color: #e5e7eb;
  --font-family-heading: Poppins;
  --button-rounded-radius: 8px;
  --dark-background-color: #121212;
  --light-background-color: #eef2fa;
  --medium-background-color: #e3eaf6;
  --primary-button-text-color: #ffffff;
  --secondary-button-bg-color: #a5b4fc;
  --secondary-button-text-color: #1e3a8a;
  --primary-button-hover-bg-color: #3749ad;
  --primary-button-hover-text-color: #ffffff;
  --secondary-button-hover-bg-color: #7f94fd;
  --secondary-button-hover-text-color: #1e3a8a;
}

header {
  padding: 20px;
  background-color: rgb(37, 37, 37);
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60px;
}


header img {
  width: auto;
  height: 80px;
  transition: all 1s;
}

header img:hover {
  transform: scale(1.2);
}

.header-lists {
  gap: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "bold";
}

.header-lists a,
li {
  list-style: none;
  text-decoration: none;
  color: white;
  font-family: sans-serif;
  transition: all 1s;
}
.header-lists a:hover {
  color: #10b981;
}

.header-lists button {
  background-color: green;
  border: none;
  border-radius: 10px;
  width: 100px;
  height: 50px;
  background: var(--accent-color);
  font-weight: 600;
  cursor: pointer;
  transition: all 1s;
}

.header-lists button:hover {
  background: #0ea472;
  box-shadow: var(--accent-color);
  transform: translateY(-10px);
}

.frst-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 30px;
  height: 100vh;

  animation: animateBg 15s linear infinite;
  background-image: linear-gradient(
    0deg,
    #000000,
    #2b2b2b,
    #000000,
    #272727
  );
  background-size: 100% 500%;
}
@keyframes animateBg {
  0% {
    background-position: 0% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

.first-section-text img:nth-child(1) {
  width: 20px;
  height: 20px;
  color: #0ea472;
}

.first-section-text button:nth-child(1) {
  border-radius: 50px;
  padding: 4px 10px;
  background-color: #1a1a1a;
  border: 2px solid #10b981;
  color: white;
  display: flex;
  align-items: center;
  width: fit-content;
}

.css-img {
  z-index: 2;
  width: 65px;
  height: 65px;
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  border-radius: 10px;
  border: 3px solid #3b82f6;
  transition: 1s ease-in;
}

.js-img {
  z-index: 2;
  width: 50px;
  height: 50px;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 10px;
  border: 3px solid #fbbf24;
  transition: 1s ease-in;
}

.css-img:hover,
.js-img:hover {
  transform: scale(1.1);
}
.fst-section-img {
  padding: 10px;
  position: relative;
  width: 600px;
  height: 400px;
}

.main-img {
  z-index: 1;
  border-radius: 10px;
  width: 600px;
  height: 400px;
  position: relative;
  animation: floatDown 5s ease-in-out infinite alternate;
}

.main-img:hover {
  animation-play-state: paused;
}

@keyframes floatDown {
  0% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateX(20px);
  }
}
.first-section-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-family: "bold";
  color: white;
}
.first-section-text h1 {
  font-size: 70px;
  color: white;
}

.first-section-text h1 span {
  background-clip: text;
  color: transparent;
  animation: animateBg 2s linear infinite;
  background-image: linear-gradient(
    0deg,
    #3d9680,
    #8f6868,
    #221eee,
    #144438,
    #7a7979
  );
  background-size: 100% 400%;
}

.btn-start {
  background-color: #111111;
  border: 1px solid #000000;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  align-items: center;
  width: fit-content;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 0;
}

.first-section-text p {
  font-size: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
  line-height: 25px;
}

.first-section-text a {
  text-decoration: none;
  color: white;
}

.fst-section-logo-checkbox {
  display: flex;
  gap: 10px;
}

.second-section {
  height: 100vh;
  padding: 35px;
  background-color: #000000;
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.second-section-text {
  text-align: center;
  max-width: 700px;
  margin: 0 auto;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-family: "regular";
}

.second-section-text img {
  width: 20px;
  height: 20px;
}

.second-section-text button {
  border-radius: 50px;
  background-color: #1f2937;
  color: white;
  border: 2px solid blue;
  width: fit-content;
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 5px;
  font-family: sans-serif;
}

.second-section-text p,
h1 {
  color: white;
}
.second-section-text h1 span {
  color: #0ea472;
}

.second-section-box-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.second-section-box {
  padding: 20px;
  border: 1px solid #484949;
  background-color: #0f0f0f;
  color: white;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  transition: transform 1s ease;
}

.second-section-box h3 {
  font-size: 23px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.second-section-box p {
  color: #adaeb1;
  font-size: 20px;
  line-height: 25px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.one img:nth-child(1) {
  background-color: #10b981;
  border-radius: 5px;
  padding: 6px;
}

.two img:nth-child(1) {
  background-color: #1d5cc2;
  border-radius: 5px;
  padding: 6px;
}

.three img:nth-child(1) {
  background-color: #fbbf24;
  border-radius: 5px;
  padding: 5px;
}

.second-section-box span a {
  text-decoration: none;
}

.second-section-box span {
  display: flex;
  align-items: center;
  gap: 5px;
}

.one span a {
  color: #0ea472;
}

.two span a {
  color: #1d5cc2;
}

.three span a {
  color: #fbbf24;
}

.one:hover,
.two:hover,
.three:hover {
  transform: translateY(-15px);
  box-shadow: 0px 0px 5px 5px #10b981;
}

.second-section-box img:nth-child(2) {
  transition: transform 1s ease;
}
.second-section-box:hover img:nth-child(2) {
  transform: translateX(30px);
}

/* third section */
.third-section {
  padding: 35px;
  background-color: #000000;
  display: flex;
  flex-direction: column;
  gap: 35px;
}


.third-section-text h1 span {
  color: #10b981;
}
.third-section-text {
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  color: white;
  font-family: "regular";
}

.third-section-text button {
  border-radius: 50px;
  background-color: #1f2937;
  color: white;
  border: 2px solid #10b981;
  width: fit-content;
  display: flex;
  align-items: center;
  margin: 0 auto;
  gap: 5px;
  padding: 5px;
  font-family: sans-serif;
}

.third-section-box-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}


.third-section-img img {
  width: 500px;
  height: auto;
  border-radius: 10px;
}

.img-one {
  box-shadow: 1px 1px 10px 1px #ef4444;
}

.third-section-box {
  display: flex;
  border: 1px solid rgb(61, 61, 61);
  border-radius: 20px;
  padding: 35px;
  background-color: #121212;
  gap: 100px;
}

.one-box-text {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 25px;
  max-width: 700px;
  
}
.box-buttons button {
  border: 1px solid rgb(68, 68, 68);
  border-radius: 5px;
  padding: 3px;
  background-color: #000000;
  color: white;
}

.btn-five button {
  background-color: #ef4444;
  border: none;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  align-items: center;
  width: fit-content;
  margin: 0 auto;
  gap: 10px;
  color: white;
  font-size: 20px;
}

.box-text-two img {
  border: 1px solid #ef4444;
  border-radius: 10px;
  background-color: #ef4444;
}

.box-text-two {
  display: flex;
  align-items: center;
  gap: 15px;
}

.one-box-text p,
.two-box-text p,
.third-box-text p {
  color: white;
  max-width: 600px;
  line-height: 22px;
  opacity: 0.8;
  font-size: 20px;
}

.two-box-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 25px;
}

.third-section-img {
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.img-two {
  box-shadow: 1px 1px 10px 1px blue;
  
}

.text2 img {
  border: 1px solid blue;
  border-radius: 10px;
  padding: 10px;
  background-color: #1d5cc2;
}

.btn-five-two button {
  background-color: #1d5cc2;
  border: none;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  align-items: center;
  width: fit-content;
  margin: 0 auto;
  gap: 10px;
  color: white;
  font-size: 20px;
}

.btn-five-third button {
  background-color: #fbbf24;
  border: none;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  align-items: center;
  width: fit-content;
  margin: 0 auto;
  gap: 10px;
  color: white;
  font-size: 20px;
}

.third-box-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 25px;
  font-family: "Kaushan Script", cursive;
}
.text3 img {
  border: 1px solid #fbbf24;
  border-radius: 10px;
  background-color: #fbbf24;
  padding: 10px;
}

.img-third {
   box-shadow: 1px 1px 10px 1px #fbbf24;
}


