* {
  padding: 0;
  margin: 0;
  font-family: "regular";
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
}

@font-face {
  font-family: "bold-italic";
  src: url(/fonts/PT_Sans/PTSans-BoldItalic.ttf);
}

@font-face {
  font-family: "bold";
  src: url(/fonts/PT_Sans/PTSans-Bold.ttf);
}

@font-face {
  font-family: "italic";
  src: url(/fonts/PT_Sans/PTSans-Italic.ttf);
}

@font-face {
  font-family: "regular";
  src: url(/fonts/PT_Sans/PTSans-Regular.ttf);
}
:root {
  --accent-color: #10b981;
  --accent2-color: #fbbf24;
  --accent3-color: #ef4444;
  --accent4-color: #3b82f6;
  --primary-color: #1e3a8a;
  --dark-text-color: #1f2937;
  --gray-text-color: #6b7280;
  --button-padding-x: 20px;
  --button-padding-y: 10px;
  --font-family-body: Source Sans Pro;
  --light-text-color: #f9fafb;
  --dark-border-color: #4b5563;
  --light-border-color: #e5e7eb;
  --font-family-heading: Poppins;
  --button-rounded-radius: 8px;
  --dark-background-color: #121212;
  --light-background-color: #eef2fa;
  --medium-background-color: #e3eaf6;
  --primary-button-text-color: #ffffff;
  --secondary-button-bg-color: #a5b4fc;
  --secondary-button-text-color: #1e3a8a;
  --primary-button-hover-bg-color: #3749ad;
  --primary-button-hover-text-color: #ffffff;
  --secondary-button-hover-bg-color: #7f94fd;
  --secondary-button-hover-text-color: #1e3a8a;
}

header {
  padding: 50px;
  background-color: rgb(37, 37, 37);
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60px;
  background-image: url(/img/gradient/Background001\ \(235\).jpg);
}

@media (max-width: 576px) {
  header {
    display: none;
  }
}
header img {
  width: auto;
  height: 80px;
  transition: all 1s;
}

header img:hover {
  transform: scale(1.2);
}

.header-lists {
  gap: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "bold";
}

.header-lists a,
li {
  list-style: none;
  text-decoration: none;
  color: white;
  font-family: sans-serif;
  transition: all 1s;
}
.header-lists a:hover {
  color: #10b981;
}

/*  first section */
.frst-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 30px;
  height: 100vh;
  background-image: url(/img/gradient/Background001\ \(458\).jpg);
  background-size: 100% 100%;
}

@media (max-width: 576px) {
  .frst-section {
    padding: 50px 150px;
    height: auto;
  }
}

.first-section-text img:nth-child(1) {
  width: 20px;
  height: 20px;
  color: #0ea472;
}

.first-section-text button:nth-child(1) {
  border-radius: 50px;
  padding: 4px 10px;
  background-color: #1a1a1a;
  border: 2px solid #10b981;
  color: white;
  display: flex;
  align-items: center;
  width: fit-content;
}

.css-img {
  z-index: 2;
  width: 65px;
  height: 65px;
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  border-radius: 10px;
  border: 3px solid #3b82f6;
  transition: 1s ease-in;
}

.js-img {
  z-index: 2;
  width: 50px;
  height: 50px;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 10px;
  border: 3px solid #fbbf24;
  transition: 1s ease-in;
}

.css-img:hover,
.js-img:hover {
  transform: scale(1.1);
}
.fst-section-img {
  padding: 10px;
  position: relative;
  width: 600px;
  height: 400px;
}

@media (max-width: 576px) {
  .fst-section-img {
    display: none;
  }
}
.main-img {
  z-index: 1;
  border-radius: 10px;
  width: 600px;
  height: 400px;
  position: relative;
  animation: floatDown 5s ease-in-out infinite alternate;
}

.main-img:hover {
  animation-play-state: paused;
}

@keyframes floatDown {
  0% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateX(20px);
  }
}
.first-section-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-family: "bold";
  color: white;
}

@media (max-width: 576px) {
  .first-section-text {
    text-align: start;
    gap: 10px;
    font-size: 15px;
  }
}
.first-section-text h1 {
  font-size: 70px;
  color: white;
}

@media (max-width: 576px) {
  .first-section-text h1 {
    font-size: 50px;
    text-align: left;
  }
}
.first-section-text h1 span {
  background-clip: text;
  color: transparent;
  animation: animateBg 2s linear infinite;
  background-image: linear-gradient(
    0deg,
    #3d9680,
    #8f6868,
    #221eee,
    #144438,
    #7a7979
  );
  background-size: 100% 400%;
}

@keyframes animateBg {
  0% {
    background-position: 100% 50%;
  }
  50% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

.first-section-text p {
  font-size: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
  line-height: 25px;
}

.first-section-text a {
  text-decoration: none;
  color: white;
}

.fst-section-logo-checkbox {
  display: flex;
  gap: 10px;
}

/* second section */
.second-section {
  height: 100vh;
  padding: 35px;
  background-color: #000000;
  display: flex;
  flex-direction: column;
  gap: 35px;
  background-image: url(/img/gradient/Background001\ \(69\).jpg);
  background-size: 100% 100%;
}

.second-section-text {
  text-align: center;
  max-width: 700px;
  margin: 0 auto;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-family: "regular";
}

.second-section-text img {
  width: 20px;
  height: 20px;
}

.second-section-text button {
  border-radius: 50px;
  background-color: #1f2937;
  color: white;
  border: 2px solid blue;
  width: fit-content;
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 5px;
  font-family: sans-serif;
}

.second-section-text p,
h1 {
  color: white;
}
.second-section-text h1 span {
  color: #0ea472;
}

.second-section-box-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

@media (max-width: 576px) {
  .second-section-box-container {
    flex-direction: column;
  }
  .second-section {
    min-height: 180vh;
  }
}
.second-section-box {
  padding: 20px;
  border: 1px solid #484949;
  background-color: #0f0f0f;
  color: white;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  transition: transform 1s ease;
}

.second-section-box h3 {
  font-size: 23px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.second-section-box p {
  color: #adaeb1;
  font-size: 20px;
  line-height: 25px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.one img:nth-child(1) {
  background-color: #10b981;
  border-radius: 5px;
  padding: 6px;
}

.two img:nth-child(1) {
  background-color: #1d5cc2;
  border-radius: 5px;
  padding: 6px;
}

.three img:nth-child(1) {
  background-color: #fbbf24;
  border-radius: 5px;
  padding: 5px;
}

.second-section-box span a {
  text-decoration: none;
}

.second-section-box span {
  display: flex;
  align-items: center;
  gap: 5px;
}

.one span a {
  color: #0ea472;
}

.two span a {
  color: #1d5cc2;
}

.three span a {
  color: #fbbf24;
}

.one:hover,
.two:hover,
.three:hover {
  transform: translateY(-15px);
  box-shadow: 0px 0px 5px 5px #10b981;
}

.second-section-box img:nth-child(2) {
  transition: transform 1s ease;
}
.second-section-box:hover img:nth-child(2) {
  transform: translateX(30px);
}

/* third section */
.third-section {
  padding: 35px;
  background-color: #000000;
  display: flex;
  flex-direction: column;
  gap: 35px;
  background-image: url(/img/gradient/Background001\ \(459\).jpg);
  background-size: 100% 100%;
}

.third-section-text h1 span {
  color: #10b981;
}
.third-section-text {
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  color: white;
  font-family: "regular";
}

.third-section-text button {
  border-radius: 50px;
  background-color: #1f2937;
  color: white;
  border: 2px solid #10b981;
  width: fit-content;
  display: flex;
  align-items: center;
  margin: 0 auto;
  gap: 5px;
  padding: 5px;
  font-family: sans-serif;
}

.third-section-box-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.third-section-img img {
  width: 500px;
  height: auto;
  border-radius: 10px;
}

.img-one {
  box-shadow: 1px 1px 10px 1px #ef4444;
}

.third-section-box {
  display: flex;
  border: 1px solid rgb(61, 61, 61);
  border-radius: 20px;
  padding: 35px;
  background-color: #121212;
  gap: 100px;
  transition: 1s ease;
}

.third-section-box:hover {
  border: 1px solid #0ea472;
}

.third-section-box:hover .third-section-img {
  transform: scale(1.1);
}

.third-section-box:hover .btn img {
  transform: translateX(10px);
}

.third-section-box:hover .btn button {
  width: 230px;
}

.btn {
  transition: 1s ease;
}
.one-box-text {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 25px;
  max-width: 700px;
}
.box-buttons button {
  border: 1px solid rgb(48, 48, 48);
  border-radius: 5px;
  padding: 8px;
  background-color: #000000;
  color: white;
  font-size: 15px;
}

.btn-five button {
  background-color: #ef4444;
  border: none;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  align-items: center;
  width: fit-content;
  margin: 0 auto;
  gap: 10px;
  color: white;
  font-size: 20px;
}

.box-text-two img {
  border: 1px solid #ef4444;
  border-radius: 10px;
  background-color: #ef4444;
}

.box-text-two {
  display: flex;
  align-items: center;
  gap: 15px;
}

.one-box-text p,
.two-box-text p,
.third-box-text p {
  color: white;
  max-width: 600px;
  line-height: 22px;
  opacity: 0.8;
  font-size: 20px;
}

.two-box-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 25px;
}

.third-section-img {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 1s ease;
}
.img-two {
  box-shadow: 1px 1px 10px 1px blue;
}

.text2 img {
  border: 1px solid blue;
  border-radius: 10px;
  padding: 10px;
  background-color: #1d5cc2;
}

.btn-five-two button {
  background-color: #1d5cc2;
  border: none;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  align-items: center;
  width: fit-content;
  margin: 0 auto;
  gap: 10px;
  color: white;
  font-size: 20px;
}

.btn-five-third button {
  background-color: #fbbf24;
  border: none;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  align-items: center;
  width: fit-content;
  margin: 0 auto;
  gap: 10px;
  color: white;
  font-size: 20px;
}

.third-box-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 25px;
  font-family: "Kaushan Script", cursive;
}
.text3 img {
  border: 1px solid #fbbf24;
  border-radius: 10px;
  background-color: #fbbf24;
  padding: 10px;
}

.img-third {
  box-shadow: 1px 1px 10px 1px #fbbf24;
}

@media (max-width: 576px) {
  .third-section-img img {
    display: none;
  }
  .third-section-box {
    border: 1px solid #0ea472;
  }
  .third-section-box:hover {
    transform: none;
  }
  .third-section-box:hover .third-section-img {
    transform: none;
  }

  .third-section-box:hover .btn img {
    transform: none;
  }

  .third-section-box:hover .btn button {
    width: auto;
    transition: none;
  }
}

/* the fourth section */
.the-fourth-section {
  padding: 35px;
  display: flex;
  gap: 100px;
  background-color: #000000;
  background-image: url(/img/gradient/Background001\ \(372\).jpg);
}

.the-fourth-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.the-fourth-text .btn-one {
  border-radius: 50px;
  background-color: #1f2937;
  color: white;
  border: 2px solid #221eee;
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 5px;
  padding: 5px;
  font-family: sans-serif;
  font-size: 15px;
}

.the-fourth-section-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 40%;
}

.the-fourth-text h1 span {
  color: #0ea472;
}

.the-fourth-text p {
  color: rgb(232, 237, 252);
  opacity: 0.8;
}

.the-fourth-section-containers {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.the-fourth-section-box {
  background-color: #0e0e0e;
  border: 1px solid #1d1d1d;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.the-fourth-section-containers .the-fourth-section-box:nth-child(1):hover {
  border: 1px solid #ef4444;
}
.the-fourth-section-containers .the-fourth-section-box:nth-child(2):hover {
  border: 1px solid blue;
}
.the-fourth-section-containers .the-fourth-section-box:nth-child(3):hover {
  border: 1px solid #0ea472;
}

.the-fourth-section-box-text {
  display: flex;
  align-items: center;
  gap: 5px;
  color: white;
}

.text-img-one {
  background-color: #ef4444;
  border: 1px solid #ef4444;
  border-radius: 10px;
  padding: 5px;
}

.text-img-two {
  background-color: #1d5cc2;
  border: 1px solid #1d5cc2;
  border-radius: 10px;
  padding: 5px;
}

.text-img-three {
  background-color: #0ea472;
  border: 1px solid #10b981;
  border-radius: 10px;
  padding: 5px;
}

.the-fourth-section-buttons button {
  border: 1px solid rgb(48, 48, 48);
  border-radius: 5px;
  padding: 8px;
  background-color: #0a0a0a;
  color: white;
  font-size: 15px;
}

.react-img {
  z-index: 2;
  display: flex;
  align-items: center;
  gap: 5px;
  position: absolute;
  left: 0;
  bottom: 0;
  border-radius: 10px;
  border: 1px solid #0ea472;
  background-color: rgb(20, 20, 20);
  padding: 0px 10px;
}

.react-img img {
  flex-shrink: 0;
}

.react-img h5,
p .node-js h5,
p {
  margin: 0;
}

.node-js {
  padding: 0px 10px;
  z-index: 2;
  display: flex;
  align-items: center;
  gap: 5px;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 10px;
  border: 1px solid #0ea472;
  background-color: #202020;
}

.node-js img {
  flex-shrink: 0;
}
.the-fourth-img-section {
  padding: 10px;
  position: relative;
  width: 600px;
  height: 400px;
  color: white;
}

.the-fourth-section-main-img img {
  z-index: 1;
  border-radius: 10px;
  border: 1px solid white;
  position: relative;
  width: 600px;
  height: auto;
  transition: 1s ease-in;
  box-shadow: 3px 3px 20px 0px white;
}

.the-fourth-section-main-img:hover img {
  transform: scale(1.1);
}

@media (max-width: 576px) {
  .the-fourth-img-section {
    display: none;
  }

  .the-fourth-section-text {
    max-width: 90%;   /* mobilda kengligi ko‘p bo‘lsin */
  }
  
  .the-fourth-text h1 {
    font-size: 30px;  /* kichik ekran uchun H1 kichrayadi */
  }

  .the-fourth-text p {
    font-size: 15px;  /* kichik ekran uchun P kichrayadi */
    line-height: 1.2;
  }

  .the-fourth-text .btn-one {
    font-size: 13px;
    padding: 4px 8px;
  }
    /* Container gapni ozaytirish va padding qo'shish */
    .the-fourth-section-containers {
      gap: 10px;
      padding: 10px;
    }
  
    
    .the-fourth-section-box {
      width: 120%;
      padding: 8px;
    }
  
   
    .the-fourth-section-box-text {
      flex-direction: column; 
      align-items: flex-start; 
      gap: 5px;
    }
  
    
    .the-fourth-section-buttons {
      display: flex;
      flex-wrap: wrap;      
      gap: 5px;
    }
  
    .the-fourth-section-buttons button {
      flex: 1 1 calc(50% - 5px); 
      min-width: 100px;          
      font-size: 14px;           
      padding: 6px;
    }
  
  }
  
  
/* main */
main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 50px;
  background-color: #000000;
  background-image: url(/img/gradient/Background001\ \(360\).jpg);
  background-size: 100% 100%;
}

.main-texts {
  border: 1px solid rgb(65, 65, 65);
  background-color: #181818;
  border-radius: 10px;
  padding: 50px;
  max-width: 900px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  transition: 1s ease;
}

.main-texts:hover {
  border: 1px solid #10b981;
}

.main-texts:hover .first-child-btn {
  transform: scale(1.1);
}
.main-texts .first-child-btn {
  border: 1px solid white;
  border-radius: 10px;
  padding: 15px;
  background: #2a7b9b;
  background: linear-gradient(
    164deg,
    rgba(42, 123, 155, 1) 0%,
    rgba(87, 199, 133, 1) 50%,
    rgba(237, 221, 83, 1) 100%
  );
  transition: 1s ease;
}

.main-texts h1 span {
  background-clip: text;
  color: transparent;
  background-size: 100% 400%;
  background-image: linear-gradient(
    157deg,
    rgba(42, 123, 155, 1) 10%,
    rgba(87, 199, 133, 1) 50%,
    rgba(237, 221, 83, 1) 100%
  );
}

main p {
  color: white;
  opacity: 0.8;
}

.main-start-btn {
  display: inline-flex;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  gap: 10px;
  font-size: 20px;
  color: white;
  transition: 1s ease-in-out;
}

.main-start-btn:hover {
  transform: translateY(-10px);
}

.main-start-btn img {
  transition: 1s ease-in-out;
}
.main-start-btn:hover img {
  transform: translateY(-3px);
}
.main-start-btn {
  border: 1px solid #0ea472;
  background-color: #10b981;
}

.main-start-btn a {
  color: white;
  text-decoration: none;
}

.main-boxes {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  color: white;
  text-align: center;
}

.main-boxes div:nth-child(1) img {
  margin: 0;
}
.main-boxes div img {
  margin-bottom: 5px;
}

.main-buttons {
  display: flex;
  gap: 30px;
}
.main-buttons button {
  width: 230px;
  text-align: center;
  background-color: #1f1f1f;
  border-radius: 10px;
  padding: 30px;
  border: 1px solid rgb(63, 63, 63);
  font-size: 20px;
  color: white;
  transition: 1s ease;
}

.main-buttons span {
  color: #0ea472;
}

.main-buttons button:nth-child(3) span {
  color: #fbbf24;
}

.main-buttons button:hover {
  border: 1px solid white;
}

footer {
  background-color: #000000;
  padding: 30px;
  color: white;
  display: flex;
  gap: 20px;
}

.footer-box-one {
  max-width: 800px;
}

.footer-box-one a {
  text-decoration: underline;
}
.footer-box-one img {
  width: auto;
  height: 80px;
}

.footer-icons {
  gap: 20px;
}

.footer-icons a {
  text-decoration: none;
}
