* {
  padding: 0;
  margin: 0;
}

:root {
  --accent-color: #10b981;
  --accent2-color: #fbbf24;
  --accent3-color: #ef4444;
  --accent4-color: #3b82f6;
  --primary-color: #1e3a8a;
  --dark-text-color: #1f2937;
  --gray-text-color: #6b7280;
  --button-padding-x: 20px;
  --button-padding-y: 10px;
  --font-family-body: Source Sans Pro;
  --light-text-color: #f9fafb;
  --dark-border-color: #4b5563;
  --light-border-color: #e5e7eb;
  --font-family-heading: Poppins;
  --button-rounded-radius: 8px;
  --dark-background-color: #121212;
  --light-background-color: #eef2fa;
  --medium-background-color: #e3eaf6;
  --primary-button-text-color: #ffffff;
  --secondary-button-bg-color: #a5b4fc;
  --secondary-button-text-color: #1e3a8a;
  --primary-button-hover-bg-color: #3749ad;
  --primary-button-hover-text-color: #ffffff;
  --secondary-button-hover-bg-color: #7f94fd;
  --secondary-button-hover-text-color: #1e3a8a;
}

header {
  padding: 30px;
  background-color: rgb(37, 37, 37);
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 70px;
}

header img {
  width: auto;
  height: 90px;
  transition: all 1s;
}

header img:hover {
  transform: scale(1.2);
}

.header-lists {
  gap: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-lists a,
li {
  list-style: none;
  text-decoration: none;
  color: white;
  font-family: sans-serif;
  transition: all 1s;
}
.header-lists a:hover {
  color: #10b981;
}

.header-lists button {
  background-color: green;
  border: none;
  border-radius: 10px;
  width: 100px;
  height: 50px;
  background: var(--accent-color);
  font-weight: 600;
  cursor: pointer;
  transition: all 1s;
}

.header-lists button:hover {
  background: #0ea472;
  box-shadow: var(--accent-color);
  transform: translateY(-10px);
}
